<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Scrapper</title>
</head>
<body id="home">
    <main class="container">
        <section class="box">
            <h1 class="header__title">Job Search</h1>
            <form class="header__search-form" action="/search">
                <input class="form-input" name="search" type="text">
                <input class="form-button" type="button" value="Search">
            </form>
            <div class="header__jobs-banner">
                <div><img src="/static/img/logo-wwr.svg" alt="logo-wwr"></div>
                <div><img src="/static/img/logo-remoteok.webp" alt="logo-remoteok"></div>
            </div>
        </section>
    </main>
</body>
</html>